


<article class="resume" data-page="resume">

    <header>
        <h2 class="h2 article-title">Resume</h2>
    </header>

    <section class="timeline">

        <div class="title-wrapper">
            <div class="icon-box">
                <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Education</h3>
        </div>

        <ol class="timeline-list">

            <li class="timeline-item">

                <h4 class="h4 timeline-item-title">Shri Ramdeobaba College of Engineering and Management
                </h4>

                <span>2019 — 2023</span>

                <p class="timeline-text">
                    Bachelors of Technology in Computer Science and Engineering
                </p>

            </li>

            <li class="timeline-item">

                <h4 class="h4 timeline-item-title">Hislop College</h4>

                <span>2017 — 2019</span>

                <p class="timeline-text">
                    Higher Secondary School Certificate
                </p>

            </li>

            <li class="timeline-item">

                <h4 class="h4 timeline-item-title">Wonderland High School</h4>

                <span>2008 — 2017</span>

                <p class="timeline-text">
                    Secondary School Certificate
                </p>

            </li>

        </ol>

    </section>

    <section class="timeline">

        <div class="title-wrapper">
            <div class="icon-box">
                <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Experience</h3>
        </div>

        <ol class="timeline-list">

            <li class="timeline-item">

                <h4 class="h4 timeline-item-title">Cybersecurity Intern</h4>

                <span>2023 — Present</span>

                <p class="timeline-text">
                    In this internship, I worked on Threat Modeling, Python Scripts (Regex) , learned about
                    docker and kubernetes.
                    I did 3 Fundamental Certifications from Microsoft on Azure (AZ-900,DP-900,SC-900). I
                    also did product testing for the company.
                </p>

            </li>

            <li class="timeline-item">

                <h4 class="h4 timeline-item-title">Summer Intern</h4>

                <span>2022 — 2022</span>

                <p class="timeline-text">
                    As a Cybersecurity Intern for a summer internship, I had the opportunity to test
                    DevSecOps tools against a vulnerable OWASP web application angular project. I compared
                    the source code scanning and third-party source code scanning using tools against Snyk.
                    I also evaluated the SBOM and General Public license of the project. It was a
                    challenging yet exciting experience as I was able to apply my knowledge in identifying
                    vulnerabilities and implementing security measures. Through this internship, I gained
                    valuable experience in the field of cybersecurity and DevSecOps.

                </p>

            </li>

            <li class="timeline-item">

                <h4 class="h4 timeline-item-title">Data Science Intern</h4>

                <span>2010 — 2013</span>

                <p class="timeline-text">
                    The objective of this internship project was to develop a model that accurately predicts
                    the number of bike rentals on-demand for the Capital Bikeshare program in Washington,
                    D.C. This report highlights the key methodologies, techniques, and tools used during the
                    project.
                </p>

            </li>

        </ol>

    </section>

    <section class="skill">

        <h3 class="h3 skills-title">My skills</h3>

        <ul class="skills-list content-card">

            <li class="skills-item">

                <div class="title-wrapper">
                    <h5 class="h5">Web design</h5>
                    <data value="80">80%</data>
                </div>

                <div class="skill-progress-bg">
                    <div class="skill-progress-fill" style="width: 80%;"></div>
                </div>

            </li>

            <li class="skills-item">

                <div class="title-wrapper">
                    <h5 class="h5">Graphic design</h5>
                    <data value="70">70%</data>
                </div>

                <div class="skill-progress-bg">
                    <div class="skill-progress-fill" style="width: 70%;"></div>
                </div>

            </li>

            <li class="skills-item">

                <div class="title-wrapper">
                    <h5 class="h5">Branding</h5>
                    <data value="90">90%</data>
                </div>

                <div class="skill-progress-bg">
                    <div class="skill-progress-fill" style="width: 90%;"></div>
                </div>

            </li>

            <li class="skills-item">

                <div class="title-wrapper">
                    <h5 class="h5">WordPress</h5>
                    <data value="50">50%</data>
                </div>

                <div class="skill-progress-bg">
                    <div class="skill-progress-fill" style="width: 50%;"></div>
                </div>

            </li>

        </ul>

    </section>

</article>